$background-color: #fff;
$text-color: #444;

html,body{
  height:100%;
}

body{
  background-color: $background-color;
  color: $text-color;
}

@import 'reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'Map';
